.navbar-background{
    background-color: #2F3C4F;
}

.slogen-box{
    background-image: url("./assets/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}